// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";


//@import url('http://localhost/man-hom/public/asset/font/alfont_com_29LT-Zarid-Serif-Regular-2.otf');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
   direction: rtl;
   font-family:$font-family-tahoma;
  }
.logo-manhom {
    max-width: 100px;
}

.router-link-active {
 color:$primary!important;
}


.navbar_footer > .container-fluid{
    justify-content: center;
    font-size: 12px;
}
.navbar_footer > h3{
    justify-content: center;
    width: 100%;
    display: flex;
}

.Discover{
    position: relative;
    span::after{
        content: "";
        position: absolute;
        bottom: -24px;
        left: 2%;
        transform: rotate(-5deg);
        height: 7px;
        width: 100%;
        border: solid 9px $primary;
        border-color: $primary transparent transparent transparent;
        border-radius: 50%;
    }
}

.search {
    position: relative;
    box-shadow: 0px 0px 10px 3px rgb(0 0 0 / 17%);

}

.search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4
}

.search input:focus {
    box-shadow: none;
    border: 2px solid $primary;
}

.search .fa-search {
    position: absolute;
    top: 20px;
    right: 16px;
}

.search button {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 44px;
    width: 100px;
    background: $primary;
}

.trend{

            button{
            background-color: $gray-200 !important;
            min-width: 120px;
   
}

}
